/.git/
/.settings/
/build/
/catkin/
/catkin_generated/
/CMakeFiles/
/devel/
/git_bk/
/gtest/
/test_results/
/src/lib/aquila/
/src/lib/vamp/
/.catkin_workspace
/.cproject
/.project
/CATKIN_IGNORE
/cmake_install_cmake
/CMakeCache.txt
/Makefile

