<launch>
  <!-- Recommend you setting up threshold according to this node's first output ,of course, you can set  what you want-->
  		 
  <arg name="energyUpthreshold" default="17"/> 
  <arg name="zeroUpthreshold" default="120" />
  <arg name="jsonfile" default="/home/hntea/.SpeechSystem/statistic-features/eg_zc_average.json"/>

  <node name="double_threhold_VAD" pkg="speech_VAD" type="double_threhold_VAD" output="screen">
    <param name="energyUpthreshold" value="$(arg energyUpthreshold)"/>
    <param name="zeroUpthreshold" value="$(arg zeroUpthreshold)"/>
    <param name="jsonfile" value="$(arg jsonfile)"/>
  </node>


</launch>